[alias]
    l = log --pretty=oneline -n 20 --graph
    st = status -s
    df = diff --patch-with-stat
    dfh = diff --patch-with-stat HEAD
    co = checkout
    aa = add --all
[user]
    name = Mikołaj Siedlarek
    email = mikolaj@siedlarek.pl
