[submodule "a.vim"]
    path = vim/.vim/bundle/a.vim
    url = https://github.com/vim-scripts/a.vim.git
[submodule "vim-fugitive"]
    path = vim/.vim/bundle/vim-fugitive
    url = https://github.com/tpope/vim-fugitive.git
[submodule "vim-gitgutter"]
    path = vim/.vim/bundle/vim-gitgutter
    url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim-puppet"]
    path = vim/.vim/bundle/vim-puppet
    url = https://github.com/rodjek/vim-puppet.git
[submodule "vim-markdown"]
    path = vim/.vim/bundle/vim-markdown
    url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim-qml"]
    path = vim/.vim/bundle/vim-qml
    url = https://github.com/peterhoeg/vim-qml.git
[submodule "cpp-vim"]
    path = vim/.vim/bundle/cpp-vim
    url = https://github.com/vim-jp/cpp-vim.git
[submodule "vim-glsl"]
    path = vim/.vim/bundle/vim-glsl
    url = https://github.com/tikhomirov/vim-glsl.git
[submodule "smyck-vim"]
    path = vim/.vim/bundle/smyck-vim
    url = https://github.com/brendonrapp/smyck-vim.git
[submodule "vim-fish"]
    path = vim/.vim/bundle/vim-fish
    url = https://github.com/dag/vim-fish.git
[submodule "rust.vim"]
    path = vim/.vim/bundle/rust.vim
    url = https://github.com/wting/rust.vim.git
[submodule "vim-toml"]
    path = vim/.vim/bundle/vim-toml
    url = https://github.com/cespare/vim-toml.git
[submodule "thrift.vim"]
    path = vim/.vim/bundle/thrift.vim
    url = https://github.com/solarnz/thrift.vim.git
[submodule "nerdtree"]
    path = vim/.vim/bundle/nerdtree
    url = https://github.com/scrooloose/nerdtree.git
[submodule "vim-yaml"]
    path = vim/.vim/bundle/vim-yaml
    url = https://github.com/stephpy/vim-yaml.git
[submodule "syntastic"]
    path = vim/.vim/bundle/syntastic
    url = https://github.com/scrooloose/syntastic.git
[submodule "ctrlp.vim"]
    path = vim/.vim/bundle/ctrlp.vim
    url = https://github.com/kien/ctrlp.vim.git
[submodule "dash.vim"]
    path = vim/.vim/bundle/dash.vim
    url = https://github.com/rizzatti/dash.vim.git
[submodule "vim-airline"]
    path = vim/.vim/bundle/vim-airline
    url = https://github.com/bling/vim-airline
[submodule "salt-vim"]
    path = vim/.vim/bundle/salt-vim
    url = https://github.com/saltstack/salt-vim.git
[submodule "tcomment_vim"]
    path = vim/.vim/bundle/tcomment_vim
    url = https://github.com/tomtom/tcomment_vim.git
[submodule "vim-asciidoc"]
    path = vim/.vim/bundle/vim-asciidoc
    url = https://github.com/asciidoc/vim-asciidoc.git
