'body':
  'ctrl-n': 'unset!'

'atom-workspace':
  'cmd-t': 'application:new-file'

  'ctrl-p': 'fuzzy-finder:toggle-file-finder'
  'ctrl-e': 'command-palette:toggle',
  'ctrl-t': 'tree-view:toggle-focus'

  'ctrl-l': 'window:focus-pane-on-right'
  'ctrl-h': 'msiedlarek:focus-pane-on-left'
  'ctrl-j': 'window:focus-pane-below'
  'ctrl-k': 'window:focus-pane-above'

  'ctrl-[': 'pane:show-previous-item'
  'ctrl-]': 'pane:show-next-item'

  'ctrl-s': 'run-command:run'
  'ctrl-s enter': 'run-command:run-command:re-run-last-command'
  'ctrl-s ctrl-c': 'run-command:kill-last-command'
  'ctrl-s escape': 'run-command:toggle-panel'
  'ctrl-s ctrl-s': 'run-command:toggle-panel'

'atom-text-editor':
  'ctrl-k': 'unset!'
  'ctrl-t': 'unset!'

'atom-text-editor.vim-mode:not(.insert-mode)':
  ', k': 'editor:toggle-line-comments'
  ', d': 'dash:shortcut'
  ', v': 'pane:split-left'
  ', h': 'pane:split-down'
  ', z': 'zen:toggle'
  'g q': 'autoflow:reflow-selection'
  'ctrl-e': 'unset!'

'atom-text-editor:not(.mini).vim-mode:not(.insert-mode):not(.jumpy-jump-mode)':
  'f': 'jumpy:toggle'

'.tree-view':
  'ctrl-t': 'tree-view:toggle'
  'ctrl-l': 'tree-view:toggle'
  'ctrl-v': 'tree-view:open-selected-entry-right'

'atom-text-editor.vim-mode':
  'ctrl-n': 'autocomplete-plus:activate'
  'ctrl-[': 'unset!'

'atom-text-editor.vim-mode.command-mode':
  'ctrl-]': 'unset!'

'atom-text-editor:not(mini).autocomplete-active':
  'ctrl-n': 'msiedlarek:autocomplete'
  'ctrl-j': 'core:move-down'
  'ctrl-k': 'core:move-up'

'.select-list':
  'ctrl-v': 'pane:split-left'
  'ctrl-h': 'pane:split-left'
  'ctrl-l': 'pane:split-right'
  'ctrl-j': 'core:move-down'
  'ctrl-k': 'core:move-up'
