'body':
  'ctrl-n': 'unset!'

'atom-workspace':
  'cmd-t': 'application:new-file'

  'ctrl-p': 'fuzzy-finder:toggle-file-finder'
  'ctrl-c': 'command-palette:toggle',
  'ctrl-t': 'tree-view:toggle-focus'

  'ctrl-l': 'window:focus-pane-on-right'
  'ctrl-h': 'msiedlarek:focus-pane-on-left'
  'ctrl-j': 'window:focus-pane-below'
  'ctrl-k': 'window:focus-pane-above'

  'ctrl-[': 'pane:show-previous-item'
  'ctrl-]': 'pane:show-next-item'

'atom-text-editor':
  'ctrl-k': 'unset!'
  'ctrl-t': 'unset!'

'atom-text-editor.vim-mode:not(.insert-mode)':
  ', k': 'editor:toggle-line-comments'
  ', d': 'dash:shortcut'
  ', v': 'pane:split-left'
  ', h': 'pane:split-down'
  'g q': 'autoflow:reflow-selection'

'.tree-view':
  'ctrl-t': 'tree-view:toggle'
  'ctrl-l': 'tree-view:toggle'
  'ctrl-v': 'tree-view:open-selected-entry-right'

'atom-text-editor.vim-mode':
  'ctrl-c': 'unset!'
  'ctrl-n': 'autocomplete-plus:activate'
  'ctrl-[': 'unset!'

'atom-text-editor.vim-mode.command-mode':
  'ctrl-]': 'unset!'

'.platform-darwin atom-text-editor.vim-mode:not(.command-mode)':
  'ctrl-c': 'unset!'

'atom-text-editor:not(mini).autocomplete-active':
  'ctrl-n': 'msiedlarek:autocomplete'
  'ctrl-j': 'core:move-down'
  'ctrl-k': 'core:move-up'

'.select-list':
  'ctrl-v': 'pane:split-left'
  'ctrl-h': 'pane:split-left'
  'ctrl-l': 'pane:split-right'
  'ctrl-j': 'core:move-down'
  'ctrl-k': 'core:move-up'
