source ~/.config/nvim/init.vim
imap <C-n> <C-o>:action HippieCompletion<CR>
imap <C-p> <C-o>:action GotoFile<CR>
nmap <C-p> :action GotoFile<CR>
nmap <leader>a :action GotoRelated<CR>
nmap <leader>k :action CommentByLineComment<CR>
nmap <leader>t :action ActivateTerminalToolWindow<CR>
